table, th, tr, td {
  border-color: transparent;
  border-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.a4-container {
  margin: 0px auto;
  text-align: center;
  border: none;
}
.a4-page-squared {
  margin-right: 10px !important;
}

.a4-paper__writing-row {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}


.a4-paper__cell {
  border-bottom-width: 1px;
  border-color: darkgray;
  border-left-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.a4-paper__cell.column-index-0 {
  border-left-width: 1px;
}

.a4-paper__cell.row-index-0 {
  border-top-width: 1px !important;
  border-top-style: solid;
}

.a4-page--margin-borders-left .a4-paper__cell.column-index-2,
.a4-page--margin-borders-right .a4-paper__cell.column-rindex-3 {
  border-right-color: red;
}
