.coloring-squared-item__block {
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;                 /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
}

body, main, main.my-5 {
  width: 210mm !important;
  padding: 0 !important;
  margin: 0 !important;
  min-width: 0 !important;
}

.a4-container {
  padding: 0 !important;
  margin: 0 !important;
}

.in-thumbnail-hidden {
  display: none !important;
}
