@charset "UTF-8";
.coloring-squared-item {
  border-collapse: collapse;
  margin: 0 auto;
}

.coloring-squared-item__block {
  border: 1px solid #666;
  font-size: 9.5px;
  text-align: center;
  text-wrap: nowrap;
  height: 11mm;
  min-height: 11mm;
  max-height: 11mm;
  width: 11mm;
  min-width: 11mm;
  max-width: 11mm;
}

.coloring-squared-item__block--cells-in-a-row-19 {
  height: 11mm;
  min-height: 11mm;
  max-height: 11mm;
  width: 11mm;
  min-width: 11mm;
  max-width: 11mm;
}

.coloring-squared-legend__entry {
  display: inline-block;
  width: 68mm;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 2mm;
  margin-right: 3mm;
  padding: 5px;
}
.coloring-squared-legend__entry:nth-child(3n) {
  margin-right: 0;
}

.coloring-squared-legend__wrapper {
  margin-top: 20px;
}

.coloring-squared-legend__label {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  width: 24mm;
}

.coloring-squared-legend__color-block {
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-color: #666;
  margin-left: 10px;
}

.coloring-squared-legend__color-name {
  display: inline-block;
  padding-left: 10px;
}

.coloring-squared-legend__color-block--black, .coloring-squared-item__block--black {
  background-color: black;
}
@media screen {
  .coloring-squared-legend__color-block--black, .coloring-squared-item__block--black {
    color: #EEE;
  }
}
.coloring-squared-legend__color-block--white, .coloring-squared-item__block--white {
  background-color: white;
}
.coloring-squared-legend__color-block--red, .coloring-squared-item__block--red {
  background-color: red;
}
@media screen {
  .coloring-squared-legend__color-block--red, .coloring-squared-item__block--red {
    color: #EEE;
  }
}
.coloring-squared-legend__color-block--green, .coloring-squared-item__block--green {
  background-color: green;
}
@media screen {
  .coloring-squared-legend__color-block--green, .coloring-squared-item__block--green {
    color: #EEE;
  }
}
.coloring-squared-legend__color-block--lightgreen, .coloring-squared-item__block--lightgreen {
  background-color: lightgreen;
}
.coloring-squared-legend__color-block--blue, .coloring-squared-item__block--blue {
  background-color: blue;
}
@media screen {
  .coloring-squared-legend__color-block--blue, .coloring-squared-item__block--blue {
    color: #EEE;
  }
}
.coloring-squared-legend__color-block--yellow, .coloring-squared-item__block--yellow {
  background-color: yellow;
}
.coloring-squared-legend__color-block--orange, .coloring-squared-item__block--orange {
  background-color: orange;
}
.coloring-squared-legend__color-block--purple, .coloring-squared-item__block--purple {
  background-color: purple;
}
@media screen {
  .coloring-squared-legend__color-block--purple, .coloring-squared-item__block--purple {
    color: #EEE;
  }
}
.coloring-squared-legend__color-block--brown, .coloring-squared-item__block--brown {
  background-color: brown;
}
@media screen {
  .coloring-squared-legend__color-block--brown, .coloring-squared-item__block--brown {
    color: #EEE;
  }
}
.coloring-squared-legend__color-block--gray, .coloring-squared-item__block--gray {
  background-color: gray;
}
.coloring-squared-legend__color-block--pink, .coloring-squared-item__block--pink {
  background-color: pink;
}
.coloring-squared-legend__color-block--cyan, .coloring-squared-item__block--cyan {
  background-color: cyan;
}

.coloring-squared-gallery__item {
  height: 380px;
  overflow-y: hidden;
}

.coloring-squared-gallery__item-info {
  height: 100px;
}

.coloring-squared-gallery__item-description {
  font-size: 14px;
}

.coloring-squared-item__actions {
  text-align: right;
}

.coloring-squired-item__viewing_option {
  width: 120px;
}

.coloring-squired-item__viewing_option-info {
  padding: 5px;
}

.coloring-squired-item__viewing_option-description-wrapper {
  display: flex;
  font-size: 14px;
  min-height: 39px;
  justify-content: center;
  align-items: center;
}

.coloring-squired-item__viewing_option-image-wrapper {
  display: inline-block;
  min-height: 156px;
}

.printable-background {
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important; /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
}

.a4-container {
  width: 210mm;
  margin: 0 auto;
}

@media print {
  /* print.css is used to reset the default css of the print page and when generating the pdf/png file. */
  /* !!! DO NOT USE @media print inside this file. All media types are set outside this class (in main.scss) */
  main {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main.my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .no-print {
    display: none !important;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .print-as-bg-transparent {
    background-color: transparent !important;
  }
  .print-as-black-text {
    color: #000 !important;
  }
}

/*# sourceMappingURL=main.css.map */